{% extends "layouts/app.html" %}
{% load static %}
{% block title %}
Contacto
{% endblock %}

{% block content %}

<form action="" class="form">
  <div class="form__contacto">
    <div class="form__input">
      <label for="nombre" class="form__label">Nombre</label>
      <input type="text" name="nombre">
    </div>

    <div class="form__input">
      <label for="telefono" class="form__label">Apellido</label>
      <input type="text" name="apellido">
    </div>

    <div class="form__input">
      <label for="telefono" class="form__label">Telefono</label>
      <input type="tel" name="telefono">
    </div>

    <div class="form__input">
      <label for="email" class="form__label">Correo electronico</label>
      <input type="email" name="email">
    </div>

    <div class="form__input">
      <label for="descripcion" class="form__label">¿Por qué nos contactas?</label>
      <textarea name="descripcion" id="" cols="30" rows="10" placeholder="Breve descripcion..."></textarea>
    </div>

    <div class="form__boton">
      <input type="button" value="Contactar" name="contactar" class="input__boton">
    </div>
  </div>



</form>
{% endblock %}