{% extends "layouts/app.html" %}
{% load static %}
{% block title %}
Contacto
{% endblock %}

{% block content %}




<form action="" class="form">
  <div class="form__contacto">
    <div class="titulo__contacto">
      <h3>Contactanos...</h3>
    </div>
    <div class="form__input">
      <label for="nombre" class="form__label"></label>
      <input type="text" name="nombre" placeholder="Ingresa tu nombre...">
    </div>

    <div class="form__input">
      <label for="telefono" class="form__label"></label>
      <input type="tel" name="telefono" placeholder="Ingresa tu telefono...">
    </div>

    <div class="form__input">
      <label for="email" class="form__label"></label>
      <input type="email" name="email" placeholder="Ingresa tu Email...">
    </div>

    <div class="form__input">
      <label for="descripcion" class="form__label"></label>
      <textarea name="descripcion" class="form__text" id="" cols="30" rows="10" placeholder="Deja tu mensaje..."></textarea>
    </div>

    <div class="form__boton">
      <input type="button" value="Contactar" name="contactar" class="input__boton">
    </div>
  </div>

  <div class="img--contacto">
    <img src="{% static 'images/Forms-pana.png' %}" alt="" class="img__contacto">
  </div>
</form>

{% endblock %}