{% extends "layouts/app.html" %}
{% load static %}
{% block title %}
Inicio
{% endblock %}


{% block content %}

<section class="contenido">
  <div class="contenido__persona">
    <div class="imagen">
      <img src="{% static 'images/foto-inicio.png' %}" class="imagen__persona">
    </div>
    <div class="datos">
      <div class="personales">
        <h4 class="titulo__personales">Datos personales</h4>
        <p class="parrafo__personales">
          <b>Nombre:</b> Santiago Colmenares <br> 
          <b>Correo Electronico:</b> scolmenaresv23@gmail.com <br>
          <b>Edad:</b> 22 años <br>
        </p>
      </div>
      <div class="contacto">
        <h4 class="titulo__contacto">Datos de contacto</h4>
        <p class="datos__contacto">
          <b>GitHub:</b> SantiagoColmenares <br>
          <b>LinkedIn:</b> Santiago Colmenares
        </p>
      </div>
    </div>
  </div>

</section>


{% endblock %}